
<div>
  <button (click)="showAdd()">+</button> <button (click)="showEdit()">edit</button>

  <table>
    <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>emailForm</th>
      <th>emailTo</th>
      <th>status</th>
      <th></th>
    </tr>
    </thead>

    <tbody *ngFor="let key of keys">
    <tr>
      <td>{{requisitions[key].id}}</td>
      <td>{{requisitions[key].name}}</td>
      <td>{{requisitions[key].emailTo}}</td>
      <td>{{requisitions[key].emailFrom}}</td>
      <td>{{requisitions[key].status}}</td>
      <td><button (click)="deleteReq(requisitions[key].id)">X</button></td>
    </tr>
    </tbody>
  </table>
</div>

<form *ngIf="!isEdit && isAdd" (submit)="addRequisition()"
      name="addRequisition">
  <div><h3>Добавить</h3>
    <input placeholder="id" type="number" [(ngModel)]="idReq" name="idReq">
    <input placeholder="name" type="text" [(ngModel)]="name" name="name">
    <input placeholder="emailFrom" type="text" [(ngModel)]="emailFrom" name="emailFrom">
    <input placeholder="emailTo" type="text" [(ngModel)]="emailTo" name="emailTo">
    <label class="contact_form">статус: </label> <input type="radio" [(ngModel)]="status" name="status">
    <br><br>
    <button class="button-add" type="submit">добавить</button>
  </div>
</form>
<form *ngIf="isEdit && !isAdd" (submit)="patchRequisition()"
      name="addRequisition">
  <div><h3>Редактировать</h3>
    <input placeholder="id" type="number" [(ngModel)]="idReq" name="idReq">
    <input placeholder="name" type="text" [(ngModel)]="name" name="name">
    <input placeholder="emailFrom" type="text" [(ngModel)]="emailFrom" name="emailFrom">
    <input placeholder="emailTo" type="text" [(ngModel)]="emailTo" name="emailTo">
    <label class="contact_form">статус: </label> <input type="radio" [(ngModel)]="status" name="status">
    <br><br>
    <button class="button-add" type="submit">редактировать</button>
  </div>
</form>
<br>




